<p> Basic setup for interacting within the aframe canvas</p>
  
  Select which asset should be visible:
  <select [(ngModel)]="simpleAsset">
   <option value="0">All
   <option value="1">Cube
   <option value="2">Sphere
   <option value="3">Cylinder
  </select>
  
    <a-scene embedded>
    <a-assets>
        <a-mixin id="light" geometry="primitive: sphere; radius: 1.5"
                 material="color: #FFF; shader: flat"
                 light="color: #DDDDFF; distance: 120; intensity: 2; type: point">
        </a-mixin>
    </a-assets>
    <!-- Lights. -->
      <a-entity *ngIf="simpleLight" position="0 0 0">
        <a-animation attribute="rotation" to="0 360 0"
                     repeat="indefinite" easing="linear" dur="4096">
        </a-animation>
        <a-entity mixin="light" position="30 0 0"></a-entity>
      </a-entity>
      
      <a-entity 
      light="type: ambient; color: #BBB;groundColor:#FFF"></a-entity>
      
      <a-entity position="-0.5 1 1"
      light="type: directional; color: #BBB;groundColor:#FFF"></a-entity>

      <a-box *ngIf="simpleAsset==0||simpleAsset==1" position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
      <a-sphere *ngIf="simpleAsset==0||simpleAsset==2" position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-cylinder *ngIf="simpleAsset==0||simpleAsset==3" position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
      <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
      <a-sky color="#ECECEC"></a-sky>
    </a-scene>
    
  <ul class="button">
  <li [class.selected]="simpleLight"
  (click)="makeHex();toggleSimpleLight()">
  <span class="badge">&nbsp;
  </span>Light
  <span class = "icon" [class.selectedbulb]="simpleLight">
    <img height = "100%" src="./assets/lighbulb.png"/>
  </span>
  </li>
  
 <li (click)="record();">

  <span class="badge">&nbsp;</span>Voice Recognition
  <span class = "icon recicon" [class.selectedrec]="selectedRec">
      <img height = "100%"  src="./assets/mic.png" />
  </span>
  
  </li>
  </ul>

<p>Voice Recognition Result: 
<input type="text" name="q" id="transcript" placeholder="None" disabled/>
</p>  
<p>Voice recognition works on Chrome, reacts on: "Lights on" and "Lights off"</p>